<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hello_android">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewReceiptsActivity"></activity>
        <activity android:name=".CaptureReceiptActivity"></activity>
        <activity android:name=".RemoveServiceActivity"></activity>
        <activity android:name=".ViewServicesActivity"></activity>
        <activity android:name=".AddNewServiceActivity"></activity>
        <activity android:name=".ViewFuelStatisticsActivity"></activity>
        <activity android:name=".RemoveFuelPurchaseActivity"></activity>
        <activity android:name=".ViewFuelPurchasesActivity"></activity>
        <activity android:name=".AddFuelPurchaseActivity"></activity>
        <activity android:name=".ServiceStatisticsMenuActivity"></activity>
        <activity android:name=".ExportDataMenuActivity"></activity>
        <activity android:name=".ServiceLogMenuActivity"></activity>
        <activity android:name=".ReceiptStorageMenuActivity"></activity>
        <activity android:name=".FuelStatisticsMenuActivity"></activity>
        <activity android:name=".FuelLogMenuActivity"></activity>
        <activity android:name=".MainVehicleMenuActivity"></activity>
        <activity android:name=".SelectVehicleActivity"></activity>
        <activity android:name=".ExistingUserActivity"></activity>
        <activity android:name=".NewUserActivity"></activity>
        <activity android:name=".AddNewCarActivity"></activity>
        <activity android:name=".AddNewVehicleActivity"></activity>
        <activity android:name=".OdometerActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".FillUPActivity" />
        <activity android:name=".SelectVehicleMenuActivity" />
        <activity android:name=".MainIntentActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>